* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    color: #666;
    /* font-size: 16; */
}

.header {
    border-bottom: 1px solid #ccc;
}

.header.nav .menu {
    display: flex;
}

.header .nav. .menu li {
    margin-right: 50;
}

.header .nav .bottom {
    height: 46;
    width: 100;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 46;
}

header .nav. .logo {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}


.header .nav {
    width: 1200px;
    margin: 0 auto;
    height: 72px;
    background-color: bisque;
    display: flex;
}

.hero {
    margin: 150 0;
}

.hero .contents {
    width: 120;
    margin: 0 auto;
    background-color: #ddd;
}

.hero .contents .top {
    display: flex;
}

.hero .contents .top .texts {

}

.hero .contents .top .photo img {
    width: 560;
}

.hero .contents .bottom {

}