* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none; 
}   

body {
    color: #666;
}

.header {
    border-bottom: 1px solid #666;
}


.nav {
    width: 1200;
    height: 72;
    margin: 0 auto;    /* 블록요소를 중앙 정렬 */
    display: flex;
    align-items: center;    /* 수직 중앙 */
    /* justify-content: center;    수평중앙  */
}

.nav .logo_wrap {
    display: flex;
    margin-right: auto;
    gap: 10px;
    align-items: center;
}

.nav .logo_wrap h1 {
    font-size: 20;
}

.nav .menu ul{
    display: flex;
}

.nav .menu ul li {
    margin-left: 50;
}

.nav .button {
    margin-left: 50;
}

.nav .button button{
    width: 100px;
    height: 50px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 50px
}

.hero {
        margin: 150 0;    
        
}

.hero .contents {
    width: 1200;
    /* background-color: #ddd; */
    margin: 0 auto;
    display: flex;
}

.hero .contents .photo img {
    width: 570px;
    /* border-radius: 50px; */
}

.hero .contents .texts h3 {
    font-size: 24;
    color: #444;
    font-weight: normal;
}

.hero .contents .texts h2 {
    font-size: 60;
    color: #444;
}

.hero .contents .texts p {
    font-size: 20;
    line-height: 1.8;
    margin-top: 16;
    margin-bottom: 16;

}

.hero .contents .texts button {
    border: 1px solid #666;
    width: 100px;
    height: 50px;
    border-radius: 50px
}